/*vars*/
:root {
  --primary-color: #01755f;
  --primary-bg-color: #d7fcf6ff;
  --accent-color: #0195da;
  --border-color:#0c3500;
}

/*General*/
body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}
h2 {
  color: var(--primary-color);
}
.section-title{
  text-align: center;
}

/*Hero*/
.container-hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-hero-content {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}
.pic-profile {
  max-width: 14rem;
  margin: 0 2rem 0 2rem;
  border-radius: 10px;
}
.pic-signature {
  max-width: 10rem;
}


/*Projects*/
.container-projects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 30vw;
  margin:1.5rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
 
  justify-content: space-between;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 10px;
}

.pics{
  margin-top: 0.5rem;
}
.pic{
  margin: 0 1rem 0 0;
}
.pic-logo {
  max-width: 3rem;
}
.pic-link{
  max-width: 2rem;
}

.description {
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
}

.card-footer{
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .card{
    width: 90vw;
  }
}