* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 5vh;
}
a {
  font-size: 5vh;
  text-decoration: none;
}
.container {
  
  width: 100%;
}
.container-header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-links {
  width: 60vh;
  margin: auto;
}
.profile-pic {
  margin: 5vh;
  width: 20vh;
  border-radius: 10%;
}
.signature-pic {
  width: 10vh;
}
