body{
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
  
}
/*navbar*/
header {
  position: relative;
  width:100%;
  height:150px;
  background-color: lightseagreen;

  }
  
  #logo-container {
    position: absolute;
    height:70%;

  }
  #logo-container img{
    position:absolute;
    height:100%;
  }

  #name{
    position:absolute;  
    font-weight:lighter;
    right:1%;
  }

nav {
  position:absolute;
  height:30%;
    bottom:0;
    background-color: #333;
    width:100%;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    text-align: center;

  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
  }

  /*body*/
    /*projects*/
  #projects{
    position:absolute;
    margin-top: 1em;
    margin-left:50%;
    margin-right:50%;
    transform: translateX(-50%);

    width:80%;
    
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  
  #projects img{
    width:15em;
    transition: 1s;
  }
  #projects img:hover{
    width:20em;
  }

/*@media queries*/
@media (max-width: 720px){
  #projects{
  flex-direction: column;
  }
}