body{
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
}
header {
  position: relative;
  width:100%;
  height:150px;
  background-color: lightseagreen;

  }
  
  #logo-container {
    position: absolute;
    height:70%;

  }
  #logo-container img{
    position:absolute;
    height:100%;
  }

  #name{
    position:absolute;  
    font-weight:lighter;
    right:1%;
  }

nav {
  position:absolute;
  height:30%;
    bottom:0;
    background-color: #333;
    width:100%;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    text-align: center;

  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #projects{
    position:absolute;
    margin-top: 1em;
    margin-left:50%;
    margin-right:50%;
    transform: translateX(-50%);

    width:80%;
    height:20em;
    
   /* background-color: rgb(204, 124, 19);*/

    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  #projects .projectImage{/*add hover effect*/

    width:15em;
  }
  #projects .projectImage img{

    width:15em;
  }

