*{
  font-family: Helvetica;
}
body{
  margin:0;
}
h2{
  text-align: center;
}
p::before{
  content: "\2022  ";
} 
  /*Cuerpo*/

  /*check-in*/

    /**Contact**/
      fieldset{
        margin-bottom: 10px;
        width:500px;
        border:none;
        background-color: rgb(200, 250, 250);
        border-radius: 30px;
      }
      label{
        padding:2px;
      }
      .contenedorForm{
        display: inline-block;
        position:relative;
        top:20px;
        left:50%;
        transform: translateX(-50%);
      }
      input[type="text"] {
        color:green;
        font-weight: bold;
      }      
      input:focus{
        background-color: rgb(219, 255, 244);
      }
      .name, .email, .genero, .seleccionMultiple, .fecha, .file, .edad{
        display:flex;
        flex-direction: column;
        padding:7px;
        margin:5px;
      }
      .submit{
        padding:5px;
        margin:5px;
        text-align: left;
      }
    /**Calendario**/
    .calendario{
      position: relative;
      text-align: center;
      top:20px;
      padding:5px;
      margin:5px;
      
    }
    .calendario #calendarioTablaMarzo-Abril, #calendarioTablaMayo-Junio{
      display:inline-block;
      border:none;
      padding:10px;  
    }
   
    .calendario table, th, td{
      border: 1px solid  rgb(180, 180, 180);
      border-collapse: collapse;
    }
    .calendario .sideBar{
      border: none;
    }
    tbody td{
      width:50px;
    }
    tbody td:hover{
    background-color: rgb(82, 197, 82);
    }
