
/*Footer*/
  /*Contenedor*/
  footer{
    position:relative;
    top:30px;
    bottom:0px;
    width: auto;
    height: 200px;
    background-color: aqua;
    z-index:10;
  }

  /*Navbar inferior*/
  
  .contenedorFooter nav {
    top: 20px;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 200, 0, 0.4);
    overflow: hidden;
  }
  .contenedorFooter nav ul {
    text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  .contenedorFooter nav li {
    display: inline-block;
  }
  .contenedorFooter nav a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .contenedorFooter nav a {
    color: white;
  }

  
  /*Firma*/
  .contenedorFooter #firma {
   position:absolute;
   left:50%;
   bottom:20px;
    width: 201px;
    transform: translateX(-50%);
  }

  

  