*{
  font-family: 'Montserrat', sans-serif;
  }
  body{
    margin:0;
  }
  h2{
  text-align: center;
  }
  p::before{
    content: "\2022  ";
  }

 /**Cuerpo**/
 .contenedorGaleria{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
    background-color: rgb(200, 250, 250);
   border-radius: 5px;
 }
 
 .bloqueImagen{
   width:40em; 
   margin-right: 20px;
   margin-bottom: 20px;
   text-align: center;

 
 } 
 .contenedorGaleria img{
   float:right;
   margin-left: 15px;
   width:25em;
   border-radius: 10px;

 }


/*@media queries*/
@media (max-width: 680px){
  .bloqueImagen{
width:35em;
font-size: 1em;
  }
  .contenedorGaleria img{
width:20em;
  }

}

@media (max-width: 480px){
  .bloqueImagen{
width:25em;
font-size: 0.7em;
  }
  .contenedorGaleria img{
width:15em;
  }

}