
/**Cabecera**/

.contenedorHeader #banner {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }
  .contenedorHeader #banner_smaller {
    display: none;
}
  .contenedorHeader #titulo{
    position:absolute;
    top:2em;
    left: 40%;
    transform: translateX(-50%);
    color:azure;
    text-shadow: 0 0 20px #000000;
  }
  /*Cabecera navbar*/
  .contenedorHeader nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    z-index: 1;
  }
  .contenedorHeader #logo { 
    float: right;
    top:1em;
    width:70px;
  }
  .contenedorHeader nav ul {
    float:left;
    list-style: none;
    margin: 8px;
    margin-left:4px;
    padding: 8px;
    }
  .contenedorHeader nav li {
    display: inline-block;
  }
  .contenedorHeader nav .navLink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  } 

  /*@media queries*/
@media (max-width: 619px){
  .contenedorHeader #logo {
    position: relative;
    right:50%;
    transform: translateX(50%);
  }

  .contenedorHeader nav ul {
    position: relative;
    text-align: center;
  }

 .contenedorHeader #banner {
    display: none;
}

.contenedorHeader #banner_smaller {
  position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.contenedorHeader #titulo{
  top:6em;
}
}

@media (max-width: 420px){
  .contenedorHeader #titulo{

   display: none;

}
}