*{
  font-family: Helvetica;
}
body{
  margin:0;
}
p::before{
  content: "\2022  ";
}

/**Cuerpo**/
  /*introduccion*/
  .contenedorIntroduccion{
    position: relative;
    width:100%;
    overflow-y:auto;
    background-color: rgb(200, 255, 255);
    
  }
  .contenedorIntroduccion p {
    margin-left: 40px;
    padding:10px;
    text-align: left;

  }
  .contenedorIntroduccion img{
  margin:20px;
    float:left;
    width: 50%; 
    border-radius: 20px;
  }
  .contenedorIntroduccion::after{
    clear:both;
  }
  /*lista*/
.contenedorListas{
  display: flex; 
  height:auto;
  justify-content: center;
  position:relative;
  top:10px;
  width: auto;
  text-align: center;
}

  #list1, #list2 {
    text-align: left;
    width:300px;
    margin:0 10px;
  }
